{% extends "layout.html" %}

{% block content %}
<div class="container">

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Jake</td>
      <td>the Turtle</td>
      <td>@slowly</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Ron</td>
      <td>Row</td>
      <td>@swim</td>
    </tr>
    </tbody>
  </table>

  <div>
    <a href="https://www.google.com/" ><h1>This is a link to Google.</h1></a>
  </div>

    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ornare velit urna, eget sagittis neque blandit a.
            Pellentesque orci turpis, aliquet non pharetra id, congue a felis. Sed tempus non enim non auctor. Duis non
            rhoncus urna, in suscipit nibh. Cras eu mauris nec metus malesuada porttitor at eget lectus. Etiam ac urna et nisi
            cursus consequat ac eget turpis. Duis blandit orci ut purus varius aliquet. Vivamus ut arcu eu ipsum lacinia
            imperdiet. Sed vehicula quam quis eros feugiat, id maximus turpis convallis. Donec ultricies neque a erat
            lobortis, ut eleifend ligula eleifend. Fusce ullamcorper libero ipsum, in luctus purus interdum nec. Sed tellus
            ante, tincidunt in accumsan a, ullamcorper et tellus. Suspendisse potenti. Morbi id odio ut ipsum luctus
            tristique. Donec volutpat odio facilisis, placerat tortor non, viverra mi.
        </p>
        <p>
            Donec vestibulum nisi et placerat molestie. Nam elementum est ut dui rhoncus blandit. Sed dictum metus vel diam
            tincidunt sagittis. In hac habitasse platea dictumst. Aenean condimentum sodales lacus, ac pulvinar eros facilisis
            vel. Phasellus ipsum quam, commodo a lacinia ut, egestas et ante. Curabitur volutpat nisl eget nunc consequat
            lacinia. Proin in velit urna. Vestibulum luctus, lacus sit amet mattis venenatis, nisl orci scelerisque magna, nec
            sollicitudin mauris odio in eros. Fusce porta egestas tincidunt. Fusce nunc nunc, pretium eget lorem sed, feugiat
            congue leo.
        </p>
        <p>
            Vestibulum faucibus facilisis sem, vitae ornare est sagittis eu. Praesent feugiat fermentum augue eu imperdiet.
            Duis id quam ultrices, posuere ligula ac, fermentum sem. Donec nunc neque, venenatis at est non, imperdiet
            ultrices elit. Sed ac risus vitae justo vehicula sollicitudin. Integer efficitur libero ut posuere tempor. Donec
            efficitur tellus ut nisi aliquet posuere. Vivamus tincidunt varius nulla et blandit. Praesent ornare, enim ac
            feugiat pretium, ante ante rhoncus risus, sed lacinia tellus erat sed lectus. Sed in nulla ut erat facilisis
            cursus. Integer ac congue felis. Nullam pellentesque, velit quis suscipit venenatis, lectus purus sagittis dui,
            nec dignissim tortor odio non quam. Sed quis dui at sapien scelerisque efficitur. Etiam lorem quam, malesuada vel
            luctus et, blandit eu nunc. Ut sit amet libero rhoncus, vulputate massa a, tempus tellus.
        </p>
    </div>
  </div>

{% endblock %}
